<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>DigiWorld.com/Home</title>
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="/../css/style.css">
    <link rel="stylesheet" href="/../css/home.css">
</head>
<body>
    <section class="part2">
        <%- include('nav')%>
        <div class="container text-black homeCard largeScreen">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="fw-bold">Welcome Back! <span class="text-muted"> <%=loginUser.name%> </span></h1>
                    <p class="mt-4"> <span class="text-muted fw-bold">Welcome to  DigiWorld, </span>your gateway to a digital shopping paradise! Explore a world of convenience and choice as we bring the finest products to your fingertips. Experience hassle-free online shopping like never before. Shop smart, shop DigiWorld!</p>
                    <a class="btn btn-primary buyProducts" href="/allProducts" >Buy Products </a>
                </div>
                <div class="col-md-6">
                    <img src="img2.png" alt="" class="homeimg">
                </div>
            </div>
        </div>

<!------------------------Small Screen Content--------------------------->
        <div class="container text-black homeCard smallScreen">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="fw-bold mt-3 mb-0">Welcome Back! <span class="text-muted"><%=loginUser.name%></span></h1>
                    <img src="img2.png" alt="" class="homeimg">
                    <a class="btn btn-primary buyProducts" href="/allProducts" >Buy Products </a>
                </div>
            </div>
        </div>
  </section>

  <section>
    <div class="container text-black text-center smallScreen">
        <div class="row">
            <div class="col">
                <p class="mt-4 textColor " > <span class="text-muted fw-bold"> DigiWorld: </span> Elevate your online shopping experience. Discover top-quality products with ease and convenience. Your digital shopping destination awaits!</p>
            </div>
        </div>
    </div>
  </section>

<section>
    <h2 class="text-center marginLargeScr fw-bold fs-1 ">Frequently Ordered</h2>
    <div class="container mb-3 mt-4">
        <div class="row freqMargin justify-content-center" style="gap: 40px;">
            <div class="col-md-3 box-shadow p-0">
                <div class="FrequentlyImg">
                    <div class="card-body p-0">
                        <img src="<%= fetchedProducts[0].img%>" class="FrequentlyImg" alt="">
                        <p class="ratings ms-2">Price Rs <%= fetchedProducts[0].pricing %> </p>
                        <p class="discount ms-2">30% Discount</p>
                        <form action="/addCart" method="post">
                            <input type="hidden" name="productId" value="<%= fetchedProducts[0]._id %>">
                            <button class="cartbtn freqCart">Add Cart</button>
                        </form>
                    </div>
                </div>
                <h5 class=" fw-bold ps-2 mt-2"> <%= fetchedProducts[0].title %> </h5>
                <p class="px-2  freqPara text-center"> <%= fetchedProducts[0].desc %></p>
                <div class="text-center mb-4">
                    <a href="/checkout?fetchedProduct=<%= fetchedProducts[0].title %>" class=" text-center BuyBtn pay">Buy Now</a>
                </div>
            </div>
            <div class="col-md-3 box-shadow p-0">
                <div class="FrequentlyImg">
                    <div class="card-body p-0">
                        <img src="<%= fetchedProducts[1].img%>" class="FrequentlyImg" alt="">
                        <p class="ratings ms-2">Price Rs <%= fetchedProducts[1].pricing %> </p>
                        <p class="discount ms-2">25% Discount</p>
                        <form action="/addCart" method="post">
                            <input type="hidden" name="productId" value="<%= fetchedProducts[1]._id %>">
                            <button class="cartbtn freqCart">Add Cart</button>
                        </form>
                    </div>
                </div>
                <h5 class=" fw-bold ps-2 mt-2"> <%= fetchedProducts[1].title %> </h5>
                <p class="px-2  freqPara text-center"> <%= fetchedProducts[1].desc %></p>
                <div class="text-center mb-4">
                    <a href="/checkout?fetchedProduct=<%= fetchedProducts[1].title %>" class=" text-center BuyBtn pay">Buy Now</a>
                </div>
            </div>
            <div class="col-md-3 box-shadow p-0">
                <div class="FrequentlyImg">
                    <div class="card-body p-0">
                        <img src="<%= fetchedProducts[2].img%>" class="FrequentlyImg" alt="">
                        <p class="ratings ms-2">Price Rs <%= fetchedProducts[2].pricing %> </p>
                        <p class="discount ms-2">20% Discount</p>
                        <form action="/addCart" method="post">
                            <input type="hidden" name="productId" value="<%= fetchedProducts[2]._id %>">
                            <button class="cartbtn freqCart">Add Cart</button>
                        </form>
                    </div>
                </div>
                <h5 class=" fw-bold ps-2 mt-2"> <%= fetchedProducts[2].title %> </h5>
                <p class="px-2  freqPara text-center"> <%= fetchedProducts[2].desc %></p>
                <div class="text-center mb-4">
                    <a href="/checkout?fetchedProduct=<%= fetchedProducts[2].title %>" class=" text-center BuyBtn pay">Buy Now</a>
                </div>
            </div>

        </div>
    </div>
</section>
<%- include('footer')%>

</body>
</html>